<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p class="lead">This is a basic App to manage simple Notes on the web using Javascript Technologies like Nodejs,
            Mongodb, and so
            on.</p>
        <ul>
            <li>Create, read, update, and delete Notes</li>
            <li>Allows a user to do log in and save his personal notes</li>
        </ul>
    </div>
</div>