<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, necessitatibus beatae? Quis eius officiis
            beatae adipisci, laudantium quo eligendi quasi velit, autem facere, architecto ipsa eos alias sequi
            consequuntur accusamus fuga est nesciunt hic reprehenderit in aperiam corrupti. Blanditiis, voluptatum?</p>
    </div>
</div>