<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App with Node & Mongodb</h1>
    <hr class="my-4">
    <p class="lead">This is a basic App to manage simple Notes on the web using Javascript Technologies like Nodejs,
        Mongodb, and so
        on.</p>
    <ul>
        <li>Create, read, update, and delete Notes</li>
        <li>Allows a user to do log in and save his personal notes</li>
    </ul>

    <a href="/users/signin" class="btn btn-primary btn-lg">Notes</a>

</div>