<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, iure ullam adipisci, cum eum debitis placeat
        tenetur ab laudantium maiores assumenda quasi fugiat et excepturi?
    </p>

    <a href="http://localhost:3000/notes" class="btn btn-primary btn-lg">Notas</a>

</div>