<div class="row">
  <div class="col-md4 my-2 mx-auto">
    <div class="card">
      <div class="card-header">
        Acount Register
      </div>
      <div class="card-body">
        <img class="rounded-circle mx-auto d-block logo my-2" src="/img/logo.png" alt="Logo">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="eMail">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block">
            Sing In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>